
@model Seogwipean.Data.Models.Booking;
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Hotel Seogwipean Web Site">
    <meta name="description" content="Hotel Seogwipean Web Site">
    <meta property="og:description" content="Hotel Seogwipean Web Site">
    <meta property="og:image" content="http://hotelseogwipean.com/images/logo.png">
    <meta property="og:url" content="http://hotelseogwipean.com/">
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>Hotel Seogwipean</title>
    <link href="~/css/landing.css" rel="stylesheet" />
    <title>시숙 예약 목록</title>
    <link href="~/css/jquery-ui.min.css" rel="stylesheet" />

    <style>
        input {
            font-size: 20px;
            width: 50%;
        }

        #btnBox {
            margin-top: 50px;
        }

        button {
            height: 50px;
            width: 30%;
        }
    </style>
</head>

<body>
    <div align="center">
        <div class="form-group">
            <h2 class="heading">예약자 성함</h2>
        </div>
        <input type="text" id="foundName" value="@Html.DisplayFor(model => model.UserName)" />
        <div class="form-group">
            <h2 class="heading">연락처</h2>
        </div>
        <input type="text" id="foundPhone" value="@Html.DisplayFor(model => model.Phone)" />
        <div class="form-group">
            <h2 class="heading">체크인</h2>
        </div>
        <input type="text" id="foundCheckIn" value="@Html.DisplayFor(model => model.StartDate)" readonly />
        <div class="form-group">
            <h2 class="heading">체크아웃</h2>
        </div>
        <input type="text" id="foundCheckOut" value="@Html.DisplayFor(model => model.EndDate)" readonly />

        <div class="form-group">
            <h2 class="heading">투숙 인원 수</h2>
        </div>
        <input type="number" id="foundHeadCount" value="@Html.DisplayFor(model => model.HeadCount)" />
        
        <div class="form-group">
            <h2 class="heading">추천인</h2>
        </div>
        <input type="text" id="foundRecommender" value="@Html.DisplayFor(model => model.Recommender)" />

        <div class="form-group">
            <h2 class="heading">요청사항</h2>
        </div>
        <input type="text" id="foundRequest" value="@Html.DisplayFor(model => model.Request)" />

        <br />
        <style>
            fieldset table tr td{
                width: 200px;
            }
        </style>
        <fieldset style="margin-top: 30px; width: 700px;">
            <table>
                <tr>
                    <td>
                        <label for="standby">예약 대기</label>
                        <input type="radio" name="status" value="0" id="standby" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="selected">예약 확정</label>
                        <input type="radio" name="status" value="1" id="selected" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="selected">체크인</label>
                        <input type="radio" name="status" value="2" id="selected" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="selected">체크아웃</label>
                        <input type="radio" name="status" value="3" id="selected" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="canceled">예약 취소</label>
                        <input type="radio" name="status" value="9" id="canceled" />
                    </td>
                </tr>
            </table>
        </fieldset>

    </div>
    <div id="btnBox" align="center">
        <button id="btnEdit">수정</button>
        <button onclick="window.location.href = '/booking/admin' ">취소</button>
    </div>

    <script src="~/lib/jquery-3.2.1.min.js"></script>
    <script src="~/lib/jquery-ui.min.js"></script>
    <script type="text/javascript">
        let booking_Booked = 0;
        let booking_AdminChecked = 1;
        let booking_CheckIn = 2;
        let booking_CheckOut = 3;
        let booking_Updated = 4;
        let booking_Canceled = 9;

        var _startDate = '@Html.DisplayFor(model => model.StartDate)';
        var _endDate = '@Html.DisplayFor(model => model.EndDate)';
        var _status = Number('@Html.DisplayFor(model => model.Status)');

        $(function () {
            document.getElementById("foundCheckIn").value = _startDate.slice(0, 10);
            document.getElementById("foundCheckOut").value = _endDate.slice(0, 10);
            $("[name=status]").attr("checked", false);
            switch (_status) {
                case booking_Booked: { $("[name=status]:eq(0)").attr("checked", true); break; }
                case booking_AdminChecked: { $("[name=status]:eq(1)").attr("checked", true);break; }
                case booking_Canceled: { $("[name=status]:eq(2)").attr("checked", true);break; }
            }

        });

        $("#foundCheckIn").datepicker();
        $("#foundCheckOut").datepicker();

        $.datepicker.setDefaults({
            dateFormat: 'yy-mm-dd',
            prevText: '이전 달',
            nextText: '다음 달',
            monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            dayNames: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
            showMonthAfterYear: true,
            yearSuffix: '년',
            minDate: '2019-05-15'
        });

        $("#btnEdit").click(function () {
            SendData();
        });

        function SendData() {
            var checkedStatus = Number($("[name=status]:checked").val());

            var _vm = new Object();
            _vm.BookingId = Number('@Html.DisplayFor(b => b.BookingId)');
            if ('@Html.DisplayFor(b => b.UserName)' != $("#foundName").val().trim())
                _vm.UserName = $("#foundName").val().trim();
            if ('@Html.DisplayFor(b => b.Phone)' != $("#foundPhone").val().trim())
                _vm.Phone = $("#foundPhone").val().trim();
            if ('@Html.DisplayFor(b => b.HeadCount)' != $("#foundHeadCount").val())
                _vm.HeadCount = $("#foundHeadCount").val();
            if ('@Html.DisplayFor(b => b.Request)' != $("#foundRequest").val().trim())
                _vm.Request = $("#foundRequest").val().trim();
            if ('@Html.DisplayFor(b => b.StartDate)' != $("#foundCheckIn").val())
                _vm.StartDate = $("#foundCheckIn").val();
            if ('@Html.DisplayFor(b => b.EndDate)' != $("#foundCheckOut").val())
                _vm.EndDate = $("#foundCheckOut").val();
            if ('@Html.DisplayFor(b => b.Recommender)' != $("#foundRecommender").val().trim())
                _vm.Recommender = $("#foundRecommender").val().trim();

            if (_status != checkedStatus)
                _vm.Status = checkedStatus;


            $.ajax({
                url: '/booking/admin/update',
                type: 'POST',
                dataType: 'JSON',
                data: _vm,
                success: function (data) {
                    alert("성공적으로 변경되었습니다.");
                    setTimeout(function () {
                        window.location.href = "/booking/admin";
                    }, 1);
                },
                error: function (data) {
                    console.log(data);
                    $("#loaderBox").hide();
                }
            });
        }

    </script>
</body>
</html>
